@font-face {
  font-family: apercu-extralight;
  src: url(apercu-extralight.woff2);
}

body {
  font-family: apercu-extralight;
  letter-spacing: 2px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  color: unset;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 2em;
}

header img {
  max-height: 40px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-left,
.header-right {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

.header-right a {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.main-left,
.main-right {
  flex: 1;
  height: 100%;
  display: flex;
}

.main-left {
  align-items: center;
  justify-content: center;
}

.main-right {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-typeform {
  width: 100%;
}