@font-face {
  font-family: apercu-extralight;
  src: url(apercu-extralight.woff2);
}

body {
  font-family: apercu-extralight;
  letter-spacing: 2px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 2em;
}

header img {
  max-height: 40px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-left,
.header-right {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}